GOOGLE_CLIENT_ID=your_google_oauth_client_id
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
GOOGLE_SEARCH_CONSOLE_SCOPE=https://www.googleapis.com/auth/webmasters.readonly
GOOGLE_ANALYTICS_SCOPE=https://www.googleapis.com/auth/analytics.readonly